<a href="https://colab.research.google.com/github/RCurrent/haskell-mooc/blob/master/Day05_Notes_kNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 5 Notes: k Nearest Neighbors
The following code includes the steps necessary to build a k nearest neighbors model. We'll go through each step, and then I'll ask you to pull these steps together into a function that you can pass a new observation of a flower in to and it will output the species the model predicts that flower is.

In [1]:
import pandas
from google.colab import drive
drive.mount('/content/drive')
#go through authentication step

Mounted at /content/drive

In [2]:
#import the data and take a look at it
data = pandas.read_csv('/content/drive/MyDrive/CS167Datasets/irisData.csv')
data.head()

   sepal length  sepal width  petal length  petal width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
#compare a series of booleans vs. a dataframe with rows from the boolean values
data['sepal length'] < 5.0

0      False
1       True
2       True
3       True
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: sepal length, Length: 150, dtype: bool

In [25]:
data[data['sepal length'] < 5.0]

     sepal length  sepal width  ...  distance_to_new  distance
1             4.9          3.0  ...         4.573839  4.974937
2             4.7          3.2  ...         4.782259  5.056679
3             4.6          3.1  ...         4.665833  4.912230
6             4.6          3.4  ...         4.764452  4.986983
8             4.4          2.9  ...         4.835287  5.014978
9             4.9          3.1  ...         4.535416  4.900000
11            4.8          3.4  ...         4.528797  4.828043
12            4.8          3.0  ...         4.654031  4.974937
13            4.3          3.0  ...         5.159457  5.273519
22            4.6          3.6  ...         5.144900  5.313191
24            4.8          3.4  ...         4.301163  4.631414
29            4.7          3.2  ...         4.547527  4.832184
30            4.8          3.1  ...         4.478839  4.828043
34            4.9          3.1  ...         4.535416  4.900000
37            4.9          3.1  ...         4.535416  4.900000
38            4.4          3.0  ...         4.921382  5.092151
41            4.5          2.3  ...         4.817676  5.076416
42            4.4          3.2  ...         4.945705  5.092151
45            4.8          3.0  ...         4.597826  4.974937
47            4.6          3.2  ...         4.757100  4.986983
57            4.9          2.4  ...         2.964793  4.186884
106           4.9          2.5  ...         2.385372  4.517743

[22 rows x 7 columns]

In [5]:
data['petal width'].mean() #get the average of a column

1.1986666666666672

In [24]:
# Calculate the distance
import numpy
#adding a new column
data['distance_to_new'] = numpy.sqrt(
    (5.1-data['petal length'])**2
    +(7.2-data['sepal length'])**2
    +(1.5-data['petal width'])**2
    +(2.5-data['sepal width'])**2)
data

     sepal length  sepal width  ...  distance_to_new  distance
0             5.1          3.5  ...         4.559605  4.986983
1             4.9          3.0  ...         4.573839  4.974937
2             4.7          3.2  ...         4.782259  5.056679
3             4.6          3.1  ...         4.665833  4.912230
4             5.0          3.6  ...         4.629255  4.978956
..            ...          ...  ...              ...       ...
145           6.7          3.0  ...         1.072381  5.620498
146           6.3          2.5  ...         0.989949  5.244998
147           6.5          3.0  ...         1.000000  5.494543
148           6.2          3.4  ...         1.593738  5.476313
149           5.9          3.0  ...         1.424781  5.119570

[150 rows x 7 columns]

In [20]:
# Sort the data and display it
sorted_data = data.sort_values(['distance_to_new']) 
sorted_data #display it

     sepal length  sepal width  ...  distance_to_new  distance
76            6.8          2.8  ...         0.591608  5.443345
52            6.9          3.1  ...         0.700000  5.572253
77            6.7          3.0  ...         0.741620  5.490902
50            7.0          3.2  ...         0.836660  5.539856
129           7.2          3.0  ...         0.866025  6.408588
..            ...          ...  ...              ...       ...
8             4.4          2.9  ...         4.835287  5.014978
38            4.4          3.0  ...         4.921382  5.092151
42            4.4          3.2  ...         4.945705  5.092151
22            4.6          3.6  ...         5.144900  5.313191
13            4.3          3.0  ...         5.159457  5.273519

[150 rows x 7 columns]

In [8]:
# give the top 5 closest neighbors
sorted_data.iloc[0:5]

     sepal length  sepal width  ...          species  distance_to_new
76            6.8          2.8  ...  Iris-versicolor         0.591608
52            6.9          3.1  ...  Iris-versicolor         0.700000
77            6.7          3.0  ...  Iris-versicolor         0.741620
50            7.0          3.2  ...  Iris-versicolor         0.836660
129           7.2          3.0  ...   Iris-virginica         0.866025

[5 rows x 6 columns]

In [10]:
# give the most commonly occuring species of the 5 closest neighbors
#sorted_data.iloc[0:5]['species'].mode()
sorted_data.iloc[0:5]['species'].mode()[0] #return just the string

'Iris-versicolor'

## Exercise:
Now it's your turn. Use the code snippets from above to build out a kNN function that takes in `specimen`, `data`, and `k` and prints out the prediction.

In [21]:
import numpy
def knn(specimen, data, k):
  data_copy = data.copy()
  data_copy['distance_to_new'] = numpy.sqrt(
    (specimen['petal length'] - data['petal length'])**2
    +(specimen['sepal length'] - data['sepal length'])**2
    +(specimen['petal width'] - data['petal length'])**2
    +(specimen['sepal width'] - data['sepal length'])**2)
  sorted_data = data_copy.sort_values(['distance_to_new'])
  top_k = sorted_data.iloc[0:k]
  print(top_k['species'].mode())

In [22]:
# Use the code below to build a dictionary of values and test your new function:
iris = {}
iris['petal length'] = 5.1
iris['sepal length'] = 7.2
iris['petal width'] = 1.5
iris['sepal width'] = 2.5
# 5-NN 
knn(iris,data,5)

0    Iris-versicolor
dtype: object

## Exercise #2:
Now it's your turn. Use the code snippets from above to build out a *weighted* kNN function that takes in `specimen`, `data`, and `k` and ouputs the prediction.

In [ ]:
import numpy

# weighted kNN
def w_knn(specimen, data, k):
  # calculate the distance
  data_copy1 = data.copy()
  data_copy1['distance_to_new'] = numpy.sqrt(
    (specimen['petal length'] - data['petal length'])**2
    +(specimen['sepal length'] - data['sepal length'])**2
    +(specimen['petal width'] - data['petal length'])**2
    +(specimen['sepal width'] - data['sepal length'])**2)
  # calculate the weights (remember, the weights are 1/d^2)
  data_copy1['weight'] = (
    1/(specimen['petal length'] - data['petal length']**2)
    +(specimen['sepal length'] - data['sepal length']**2)
    +(specimen['petal width'] - data['petal length']**2)
    +(specimen['sepal width'] - data['sepal length']**2))

  # find the closest k

  # use groupby to sum the weights of each species in the closest k
 
  # return the class that has the larger sum of weights

In [ ]:
iris = {}
iris['petal length'] = 5.1
iris['sepal length'] = 7.2
iris['petal width'] = 1.5
iris['sepal width'] = 2.5
# 5-NN 
print(w_knn(iris,data,5))